[flake8]
max-line-length = 100
extend-ignore = E501, W503
exclude =
    venv,
    __pycache__,
    .git,
    build,
    dist,
    migrations
per-file-ignores =
    __init__.py:F401
    tests/*:S101
    AgriGuard/backend/app.py:E402
    AgriGuard/backend/train_model.py:E402,F841
