[MASTER]
ignore=venv,__pycache__,build,dist,migrations
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=C0330,C0326,R0913
enable=useless-suppression

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=7
max-attributes=10

[TYPECHECK]
ignored-classes=sqlalchemy
ignored-modules=llama_cpp
